- var sizesAndFormats = ${sizesAndFormats}

mixin img(src, altText = '', attributes = {})
  - var srcBase = src.replace(/-\d+\.(\w+)$/, '').replace(/\.\w+$/, '')
  picture
    each formatObj in sizesAndFormats
      - var srcset = formatObj.sizes.map(size => `${srcBase}-${size}.${formatObj.format} ${size}w`).join(', ')
      source(srcset=srcset type=`image/${formatObj.format}`)
    img(src=src alt=altText)
