- var sizesAndFormats = ${sizesAndFormats} //- Example: [{'sizes':[1000,1150,1200],'format':'jpg'},{'sizes':[1000,1150,1200],'format':'avif'}]
- var dataSrcSwitch = ${dataSrcSwitch} //- false / true
- var loadingLazy = ${loadingLazy} //- true / false

mixin img(src, altText = '', attributes = {})
  - var srcBase = src.replace(/-\d+\.(\w+)$/, '').replace(/\.\w+$/, '')
  picture
    each formatObj in sizesAndFormats
      - var srcsetContent = formatObj.sizes.map(size => `${srcBase}-${size}.${formatObj.format} ${size}w`).join(', ')
      if dataSrcSwitch
        source(data-srcset=srcsetContent type=`image/${formatObj.format}`)
      else
        source(srcset=srcsetContent type=`image/${formatObj.format}`)
    if dataSrcSwitch
      if loadingLazy
        img(data-src=src alt=altText loading='lazy')
      else
        img(data-src=src alt=altText)
    else
      if loadingLazy
        img(src=src alt=altText loading='lazy')
      else
        img(src=src alt=altText)

//- Example usage:
//- Include this pugsharp.pug, then:
//- +img('path/to/image-1200.jpg', 'A descriptive alt text')
